.card {
    background-color: rgb(7, 59, 75) !important;
    color: white !important;
    margin: 15px;
    padding: 0px !important;
    p {
        color: white;
    }
    .icon_button {
        color: white;
        padding-left: 0px;
        &__clicked {
            color: red;
        }
    }
    .icon_platform {
        width: 15px;
        height: 15px;
        margin-right: 9px;
        margin-bottom: 9px;
    }
}

.gameslist-container {
    margin-top: 82px;
    margin-left: 240px !important;
    padding-left: 0px !important;
    padding-top: 15px;
    width: fit-content;
    background-color: rgb(5, 52, 66); 
    height: 100%;
}

.pagination {
    background-color: rgb(73, 139, 139);
    border-radius: 2%;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
}

