.icon_platform {
    color: white;
    width: 21px;
    height: 26px;
    margin-right: 10px;
}

.icon_sentiment {
    margin-left: 15px;
    margin-right: 8px;
    width: 35px !important;
    height: 45px !important;
    &_good {
        color: rgb(105, 230, 105);
    }
    &_rec {
        color: rgb(71, 160, 71);
    }
    &_bad {
        color: rgb(194, 91, 91);
    }
    &_awful {
        color: rgb(226, 105, 105);
    }
}

.grid_item {
    padding-left: 0px !important;
    &:nth-of-type(2n) {
        margin-left: 30px;
    }
}

.grid_container {
    padding: 0px !important;
    margin-bottom: 10px;
}

.read_more_btn:hover {
    background-color: white !important;
}

.grid_body {
    margin-right: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}

.game_section {
    display: flex;
}

.screen_image {
    height: 100%;
    border-radius: 10px;
}

.grid_container_vidscr {
    position: absolute;
    width: 785px !important;
}

.screen_btn {
    width: 100%; 
    height: 100%; 
    padding: 0px !important;
    box-shadow: none !important;
}

.grid_item_img {
    position: relative;
    text-align: center;
    padding-right: 4px;
}

.screen_image_btn {
    opacity: .3;
    transition: opacity .5s;
    &:hover {
        opacity: .5;
    }
}

.view_all {
    position: absolute;
    opacity: 1 !important;
}

.icon_store {
    width: 40px;
    height: 50px;
    margin-left: 20px;
}
